<!doctype html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

  <title>Download File</title>
  <h1>Download File</h1>
  <body class="body">
     <div class="container1">
      <a href="/returnfiles" target="blank"><button class='btn btn-default'>Download</button></a>
     </div>
     <div class="container2">
      <a href="/returnfilesconll" target="blank"><button class='btn btn-default'>Download Conll-U Results</button></a>
     </div>
      <a href="..">
      <input type="submit" value="Go Back..">
      </a>
  </body>
</html>



